.uploadImage {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.uploadImage__progress {
  width: 100%;
}
.uploadImage > p {
  padding-bottom: 6px;
}
.uploadImage > .MuiButton-text {
  background: #2574A9;
  color: white;
}
.uploadImage__inputText {
  margin-top: 10px;
  margin-bottom: 8px;
  margin: 0;
  color: #5a5a5a;
}

.uploadImage__inputFile {
  color: gray;
  margin-bottom: 10px;
  margin-top: 10px;
}

input[type=file]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #a29bfe;
  transition: 1s;
}
input[type=file]::-webkit-file-upload-button {
  border-radius: 8px;
  background-color: #04724D;
  transition: 1s;
  color:white;
  border:none;
  padding:5px;
  cursor:pointer;
}
input[type=file]::-webkit-file-upload-button:hover {
  background-color: #564256;
  color:white;

}

input[type=file]::file-selector-button:hover {
  background-color: #564256;
  color:white;

}